# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variables sensibles
*.tfvars
!example.tfvars

# AWS
.aws/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# ENV
.env
